DATABASE_URL=postgresql+asyncpg://postgres:postgres@localhost:5432/room_booking
DATABASE_URL_SYNC=postgresql+psycopg2://postgres:postgres@localhost:5432/room_booking
SECRET_KEY=your-secret-key
ACCESS_TOKEN_EXPIRE_MINUTES=1440
